.container 
{ 
    position:relative; 
    padding:0 0 0 55px; 
}
sidebar 
{
    position:absolute;
    top:0; 
    bottom:0;
    left:0;
    width:300px;
}

header 
{ 
 border:1px solid #000;
 width:300px;
 height:500px; 
 margin:0 0 5px 0;
}
content
{ 
    border:1px solid #000; 
	width:100px;
	height:50px;
    margin:5px 0 5px 0;
}
footer
{
    background-color: #F3F3F3;
    padding-top:0px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
}

.navbar-brand
{
    padding:0px;
}

.search-bar
{
    margin-right: 20px;
}

.sidebar
{
    text-align: center; 
    list-style-type:none;
    padding: 0;
}
.panel-body
{
    padding-top: 0px;
}

.sidebar input{
    margin:0;
}
.sidebar button{
    width: 120px;

}
#restaurants a{
    display: inline-block;
    font-size: 25px;
    color: #006dcc;
}
#restaurants h3{
    display: inline-block;
}
.page-header h2{
    display:inline-block;
    margin-right: 8px;
}
.page-header h5{
    display: inline-block;
    float: right;
    margin-top: 20px;
}
.dropdown{
  display: inline-block;
}
.page-header{
    text-align: center;
}
.restaurant-description p{
    font-size: 20px;
    float: left;
}
.restaurant-description #rest-attribute{
    font-weight: bold;
}
.restaurant-description #rating{
    font-size: 40px;
}
.restaurant-description a{
    float: right;
}